@inject IJSRuntime JSRuntime
<style>
    .p-detail, .p-index {
        padding-top: unset !important;
    }
</style>
<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">ComicHub</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="/admin/" class="sidebar-link @(tab==0? "active": "")">
                <i class="lni lni-agenda"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="javascript:void(0)" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse" data-bs-target="#auth"
               aria-expanded="false" aria-controls="auth" @onclick="ToggleCollapse">
                <i class="lni lni-user"></i>
                <span>Author</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse @(!isAuthCollapsed ? "" : "show")"
                data-bs-parent="#sidebar">
                <li class="sidebar-item" style="padding-left: 15px">
                    <a href="/admin/author_management" class="sidebar-link @(tab==1? "active": "")">Manage Author</a>
                </li>
                <li class="sidebar-item" style="padding-left: 15px">
                    <a href="/admin/comic_management" class="sidebar-link @(tab==2? "active": "")">Manage Book</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-item">
            <a href="/admin/category_management" class="sidebar-link @(tab==3? "active": "")">
                <i class="lni lni-layout"></i>
                <span>Manage Category</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/admin/order_management" class="sidebar-link @(tab==4? "active": "")">
                <i class="lni lni-control-panel"></i>
                <span>Manage Order</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link @(tab==5? "active": "")">
                <i class="lni lni-cog"></i>
                <span>Setting</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>

@code {
    [Parameter]
    public int tab { get; set; } = 0;
    bool isAuthCollapsed = true; // Biến trạng thái đóng/mở

    void ToggleCollapse()
    {
        isAuthCollapsed = !isAuthCollapsed;
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("toggleSidebar");
        }
    }
}
