@page "/details/{id}"
@using StoriesProject.Model.BaseEntity;
@using StoriesProject.Model.DTO.Story;
@using StoriesProject.Services;
@using StoriesProject.Shared.ComponentBase;
@inject IStoriesService _storiesService;
@inherits BaseComponentCustom
<html>

<head>
    <title>她来了，请趴下_她来了，请趴下漫画_她来了，请趴下漫画全集在线阅读 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="她来了，请趴下,她来了，请趴下漫画,她来了，请趴下漫画全集,她来了，请趴下漫画免费阅读,她来了，请趴下漫画下载,漫画大全,好看的漫画">
    <meta name="description"
          content="她来了，请趴下漫画最新章节免费在线阅读。18线演员一朝落海，归来时性情大变，原本软弱可欺的她突然成了令人闻风丧胆的狠辣杀神。从演技辣眼到影后附身，各方大佬竟对她毕恭毕敬……潜规则？不如问问买下你们公司多少钱；影后？我只是玩玩，不小心包揽大奖">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon">
    <link rel="Bookmark" href="https://static.mkzcdn.com/common/favicon.ico">

    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_home.css?v=a75a636">


    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/home.css?v=c05d384">
    <link rel="stylesheet" href="https://static.mkzcdn.com/home/assets/script/libs/layer/theme/default/layer.css?v=3.1.1"
          id="layuicss-layer">
    <link rel="stylesheet"
          href="//static.mkzcdn.com/home/assets/script/libs/share/static/api/css/share_style0_16.css?v=6aba13f0.css">
    <style>
        .de-container {
            float: none;
            margin: 0 auto;
        }

        /*# Thêm vào*/
        .in-header__nav .nav-item {
            width: auto;
            font-size: 16px;
        }

        .in-header__nav .underline {
            display: none;
            position: absolute;
            left: 7px;
            bottom: -3px;
            width: 50px;
            height: 3px;
            background: #ff620e;
            border-radius: 9px;
        }

        .button_config {
            float: left;
            width: 80px;
            height: 40px;
            font-size: 13px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
            background-color: #ff620e;
            font-weight: bold;
        }

        .intro-total {
            display: none;
            opacity: 0;
            transition: opacity 1s ease;
            /* Thời gian chuyển đổi opacity */
        }

        /* Khi hover vào .show, thay đổi giá trị của .intro-total */
        .show:hover + .intro-total {
            display: block;
            opacity: 1;
        }

        .de-info__box {
            width: 100%;
            min-height: 350px;
            min-height: 350px;
        }

            .de-info__box .comic-handles {
                position: absolute;
            }

        .de-user-handle {
            position: absolute;
            right: 30px;
        }
    </style>
</head>

<body class="p-detail" data-feed="104" data-new-gr-c-s-check-loaded="14.1157.0" data-gr-ext-installed="">
    <div style="display:none;">
        <img src="https://static.mkzcdn.com/home/assets/images/common/app_logo.png">
    </div>

    <div class="de-info-wr" data-price="24" data-is_vip="1">
        <div class="de-info__bg"
             style="background-image: url('https://oss.mkzcdn.com/comic/cover/20210624/60d3da10819ac-750x999.png!cover-400');">
        </div>
        <div class="de-info__overlay">
            <div class="overlay-bottom"></div>
        </div>
        <div class="container--response">
            <div class="de-info__box">
                <div class="de-info__cover">
                    <img class="lazy"
                         src="@GetLinkImage(storyDetail?.ImageLink)"
                         style="display: inline-block;">
                </div>
                <p class="comic-title j-comic-title">@storyDetail?.StoryName</p>
                <div class="comic-author">
                    <a href="/author/12527029.html">
                        <img class="avatar"
                             src="@storyDetail?.AuthorAvatar">
                    </a>
                    <span class="name"><a href="/author/12527029.html">@storyDetail?.AuthorName</a></span>
                    <span>|</span>
                    <span><a href="/author/12527029.html">@storyDetail?.TotalStory tác phẩm</a></span>
                </div>
                <div class="comic-status">
                    <span class="text">
                        Chủ đề: <b>
                            @(topicLst != null && topicLst.Count > 0 ? string.Join(',', topicLst.Select(item => item.Name)) : "")</b></span>
                    <span class="text"></span> Lượt xem: <b>@storyDetail?.ViewAccess người</b>
                </div>
                <div class="comic-intro">
                    <span class="title">Giới thiệu: </span>
                    <p class="intro">
                        @storyDetail?.ShortDescription
                    </p>
                    <p class="show"><span class="txt">Chi tiết</span> <i class="iconfont"></i></p>
                    <p class="intro-total">
                        @storyDetail?.Description
                    </p>
                    <p></p>
                </div>
                <div class="comic-handles clearfix" @onclick="(() => NavigateToReadChapter())">
                    <a class="btn--read">
                        <i class="icon-de-read"></i>
                        <span class="txt1">Đọc truyện</span>
                    </a> 
                    @* <a class="btn--collect j-user-collect collected" href="javascript:void(0);">
                        <i class="icon-de-coll_hl"></i>
                        <i class="icon-de-coll"></i>
                        <span class="txt1">Đã lưu</span>
                        <span class="txt2">Đánh đấu</span>
                    </a> *@
                </div>
                @* <div class="de-user-handle">
                <a class="btn--ticket" href="javascript:void(0);">
                <i class="icon-de-ticket "></i>
                Độc giả: 200.000 người
                </a>
                </div> *@
            </div>
        </div>
    </div>
    <div class="container--response de-container-wr clearfix">
        <div class="de-container">
            <div class="de-chapter">
                <div class="de-chapter__title">
                    <span>Chapter</span>
                    <span class="update-time">Số tập: @(chapterLst != null ? chapterLst.Count : 0) chapters</span>
                    @* <div class="btn--sort" style="display: block;">
                    <span class="dx"><i class="iconfont icon-sortdown"></i> Mới⇾Cũ</span>
                    <span class="zx"><i class="iconfont icon-sortup"></i> Cũ⇽Mới</span>
                    </div> *@
                </div>
                <div class="chapter__list clearfix">
                    <ul class="chapter__list-box clearfix hide" style="display: block; @(isShow ? "overflow: visible; height: auto;" : "overflow: hidden; height: 302px;")">
                        @if (chapterLst != null && chapterLst.Count > 0)
                        {
                            foreach (var item in chapterLst)
                            {
                                <li class="j-chapter-item chapter__item" @onclick="(() => NavigateToReadChapter(item.Id))">
                                    <a class="j-chapter-link">
                                        <i class="vip-tag iconfont icon-ic_readlist_vip1"></i> @item.Name
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="chapter__more">
                        <a class="btn close" href="javascript:void(0);">
                            @if (isShow)
                            {
                                <span class="down" @onclick="handleShow">Ẩn bớt<i class="iconfont icon-ic_detaillist_up"></i></span>
                            }
                            else
                            {
                                <span class="down" @onclick="handleShow">Hiển thị thêm<i class="iconfont icon-ic_detaillist_down1"></i></span>
                            }
                        </a>
                    </div>
                </div>
            </div>
            @*   <a class="de__ad" href="/215451/"
            style="background-image: url(https://oss.mkzcdn.com/image/20210803/61089b5e061c4-1694x214.jpg!banner-1400);"
            target="_blank"></a>
            <div class="guess-u-like clearfix" style="margin-bottom: 20px;">
            <p class="guess__title" style="margin-top: 20px;">Có thể bạn cũng thích</p>
            <div class="guess__list clearfix">
            <div class="tempWrap" style="overflow:hidden; position:relative; width:1120px">
            <div class="slide-wrapper"
            style="width: 1792px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
            <div class="guess-item slide-item" style="float: left; width: 214px;">
            <div class="cover">
            <a href="/207727/">
            <img class="lazy-slide"
            src="https://oss.mkzcdn.com/comic/cover/20230106/63b795177413d-599x799.jpg!cover-400"
            data-src="https://oss.mkzcdn.com/comic/cover/20230106/63b795177413d-599x799.jpg!cover-400"
            alt="封面" style="display: inline-block;">
            </a>
            <div class="cover__tag">第732话</div>
            </div>
            <p class="comic__title"><a href="/207727/">星武神诀</a></p>
            <p class="comic__feature">逆天强者的撼世之路</p>
            </div>
            <div class="guess-item slide-item" style="float: left; width: 214px;">
            <div class="cover">
            <a href="/212062/">
            <img class="lazy-slide"
            src="https://oss.mkzcdn.com/comic/cover/20230106/63b792d8e841d-600x800.jpg!cover-400"
            data-src="https://oss.mkzcdn.com/comic/cover/20230106/63b792d8e841d-600x800.jpg!cover-400"
            alt="封面" style="display: inline-block;">
            </a>
            <div class="cover__tag">第1季最终话</div>
            </div>
            <p class="comic__title"><a href="/212062/">修真四万年（别名：星域四万年）</a></p>
            <p class="comic__feature">边境少年的修真之路，为了主宰银河！</p>
            </div>
            <div class="guess-item slide-item" style="float: left; width: 214px;">
            <div class="cover">
            <a href="/211189/">
            <img class="lazy-slide"
            src="https://oss.mkzcdn.com/comic/cover/20181218/5c18b62d4a78a-750x999.jpg!cover-400"
            data-src="https://oss.mkzcdn.com/comic/cover/20181218/5c18b62d4a78a-750x999.jpg!cover-400"
            alt="封面" style="display: inline-block;">
            </a>
            <div class="cover__tag">第453话</div>
            </div>
            <p class="comic__title"><a href="/211189/">姻缘宝典</a></p>
            <p class="comic__feature">手握宝典走天下</p>
            </div>
            <div class="guess-item slide-item" style="float: left; width: 214px;">
            <div class="cover">
            <a href="/216307/">
            <img class="lazy-slide"
            src="https://oss.mkzcdn.com/comic/cover/20220113/61dfe85ca09c3-750x999.jpg!cover-400"
            data-src="https://oss.mkzcdn.com/comic/cover/20220113/61dfe85ca09c3-750x999.jpg!cover-400"
            alt="封面" style="display: inline-block;">
            </a>
            <div class="cover__tag">第204话 邀请</div>
            </div>
            <p class="comic__title"><a href="/216307/">最强内卷系统</a></p>
            <p class="comic__feature">穿到修仙界获得最强系统，武神只想种地</p>
            </div>
            <div class="guess-item slide-item" style="float: left; width: 214px;">
            <div class="cover">
            <a href="/214673/">
            <img class="lazy-slide"
            src="https://oss.mkzcdn.com/comic/cover/20230106/63b799c660068-750x999.jpg!cover-400"
            data-src="https://oss.mkzcdn.com/comic/cover/20230106/63b799c660068-750x999.jpg!cover-400"
            alt="封面" style="display: inline-block;">
            </a>
            <div class="cover__tag">第344话 此路不通</div>
            </div>
            <p class="comic__title"><a href="/214673/">踏碎仙河</a></p>
            <p class="comic__feature">谱写一段永世不朽的传奇</p>
            </div>
            <div class="guess-item slide-item" style="float: left; width: 214px;">
            <div class="cover">
            <a href="/208642/">
            <img class="lazy-slide"
            src="https://oss.mkzcdn.com/comic/cover/20210629/60dab657426f2-750x999.jpg!cover-400"
            data-src="https://oss.mkzcdn.com/comic/cover/20210629/60dab657426f2-750x999.jpg!cover-400"
            alt="封面" style="display: inline-block;">
            </a>
            <div class="cover__tag">第2季第89话 调查之前4</div>
            </div>
            <p class="comic__title"><a href="/208642/">妃夕妍雪</a></p>
            <p class="comic__feature">妃夕妍雪第二部开启，缘起之章</p>
            </div>
            <div class="guess-item slide-item" style="float: left; width: 214px;">
            <div class="cover">
            <a href="/216621/">
            <img class="lazy-slide"
            src="https://oss.mkzcdn.com/comic/cover/20230421/644243d9c9297-750x999.jpg!cover-400"
            data-src="https://oss.mkzcdn.com/comic/cover/20230421/644243d9c9297-750x999.jpg!cover-400"
            alt="封面" style="display: inline-block;">
            </a>
            <div class="cover__tag">第161话 醋意</div>
            </div>
            <p class="comic__title"><a href="/216621/">少帅每天都在吃醋2:少帅是醋精</a></p>
            <p class="comic__feature">破案天才和她的醋精少帅</p>
            </div>
            <div class="guess-item slide-item" style="float: left; width: 214px;">
            <div class="cover">
            <a href="/72/">
            <img class="lazy-slide"
            src="https://oss.mkzcdn.com/comic/cover/20181206/5c0888b755bb1-600x800.jpg!cover-400"
            data-src="https://oss.mkzcdn.com/comic/cover/20181206/5c0888b755bb1-600x800.jpg!cover-400"
            alt="封面" style="display: inline-block;">
            </a>
            <div class="cover__tag">第270话2 切割杀阵</div>
            </div>
            <p class="comic__title"><a href="/72/">星海镖师</a></p>
            <p class="comic__feature">宇宙护镖，使命必达</p>
            </div>
            </div>
            </div>
            <div class="prev"><i class="layui-icon layui-icon-left"></i></div>
            <div class="next"><i class="layui-icon layui-icon-right"></i></div>
            </div>
            </div> *@
        </div>
    </div>
    @*  <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=938050"></script>
    <script type="text/javascript" id="bdshell_js"
    src="https://static.mkzcdn.com/home/assets/script/libs/share/static/api/js/share.js"></script>
    <script type="text/javascript">
    document.getElementById("bdshell_js").src = 'https://static.mkzcdn.com/home/assets/script/libs/share/static/api/js/share.js';
    </script>*@
    <div class="in-aside-handle">
        <div class="aside__item qr-code">
            <i class="iconfont icon-ic_float_ewm"></i>
            <div class="qr-code-pic hide"></div>
        </div>
        <div class="aside__item share">
            <i class="iconfont icon-ic_float_fx"></i>
            <ul class="share-full clearfix hide bdsharebuttonbox bdshare-button-style0-16" id="bdshare" data-tag="share_1"
                data-bd-bind="1709370132040">
                <a class="aside-share__item qq" data-cmd="sqq" title="分享到QQ好友"></a>
                <a class="aside-share__item wx" data-cmd="weixin" title="分享到微信"></a>
                <a class="aside-share__item wb" data-cmd="tsina" title="分享到新浪微博"></a>
                <a class="aside-share__item kj" data-cmd="qzone" title="分享到QQ空间"></a>
            </ul>
        </div>
        <div class="aside__item feedback j-home-feed">
            <i class="iconfont icon-ic_float_fk"></i>
            <p class="feed-full hide">在线反馈</p>
        </div>
        <div class="aside__item back-top hide">
            <i class="iconfont icon-ic_float_top"></i>
            <p class="back-full hide">返回顶部</p>
        </div>
    </div>
    @*  <script>
    </script>*@


    <div class="in-header">
        <div class="in-header__wrap container--response">
            <a class="in-header__logo" href="/"></a>
            <div class="in-header__nav">
                <ul class="clearfix">
                    <li class="nav-item active">
                        <a href="/">TRANG CHỦ</a>
                        <div class="underline"></div>
                    </li>
                    <!-- <li class="nav-item ">
                      <a href="/update/">MỚI CẬP NHẬT</a>
                      <div class="underline"></div>
                    </li> -->
                    @* <li class="nav-item ">
                        <a href="/top/">XẾP HẠNG</a>
                        <div class="underline"></div>
                    </li> *@
                    <li class="nav-item ">
                        <a href="/category/">PHÂN LOẠI</a>
                        <div class="underline"></div>
                    </li>
                    <!-- <li class="nav-item hide ">
                      <a href="/category/?is_vip=1">VIP</a>
                      <div class="underline"></div>
                    </li>
                    <li class="nav-item ">
                      <a href="/free/limit/">限免</a>
                      <div class="underline"></div>
                    </li>
                    <li class="nav-item ">
                      <a href="https://www.xiaoshuohui.com.cn/">小说</a>
                      <div class="underline"></div>
                      <img class="new" src="//static.mkzcdn.com/home/assets/images/header/ic_nav_newxs.png?v=658642e" alt="new">
                    </li> -->
                </ul>
            </div>
            <div class="in-header__search">
                <input class="input j-header-input" type="text" placeholder="Tìm truyện">
                <span class="button_config">Search</span>
                <i class="iconfont icon-ic_head_search"></i>
                <div class="in-dialog--search hide">
                    <div class="search-his-wr">
                        <div class="dialog-title">
                            <span>历史记录</span>
                            <div class="search-his__clear">
                                <i class="iconfont icon-ic_head_searchnull"></i>
                                <a href="javascript:;">删除</a>
                            </div>
                        </div>
                        <div class="search-his clearfix"></div>
                    </div>
                    <div class="search-hot-wr">
                        <p class="dialog-title">今日热搜</p>
                        <div class="search-hot">
                        </div>
                    </div>

                    <!-- 搜索关键字弹出框 -->
                    <div class="keyword-box clearfix hide">
                    </div>
                </div>
            </div>
            <div class="in-header__user">
                <ul class="fl clearfix">
                    <li class="user-item j-header-his">
                        <a href="/user/history/" rel="nofollow">
                            <i class="iconfont icon-ic_head_footprint"></i>
                            <span class="item-text">Lịch sử</span>
                        </a>
                    </li>
                    @* <li class="user-item j-header-coll">
                        <a href="/user/collection/" rel="nofollow">
                            <i class="iconfont icon-ic_head_coll"></i>
                            <span class="item-text">Đánh dấu</span>
                        </a>
                    </li> *@
                   @*  <li class="user-item">
                        <a href="/author/">
                            <i class="iconfont icon-ic_head_tg"></i>
                            <span class="item-text">Tác giả</span>
                        </a>
                    </li> *@
                </ul>
                <div class="j-header-avatar in-header__avatar fl">
                    <a href="/user/">
                        <img class="j-user-avatar"
                             src="//static.mkzcdn.com/home/assets/images/home/pic_login_defaulthead.png?v=5b80a2f" alt="用户头像">
                    </a>
                    <div class="j-dialog-avatar dialog__header-avatar">
                        <div class="in-dialog--avatar">
                            <span class="triangle">
                                <i class="iconfont icon-ic_nav_toast_sj"></i>
                            </span>
                            <!-- 游客 -->
                            <!-- <div class="j-dialog-tourist row-1 hide">
                              <p class="base-info">
                                <a class="j-user-name nickname" href="/login/">Tên user</a>
                                <i class="vip-tag icon icon-vip-tag"></i>
                                <a class="j-user-logout logout" href="/login/">Chưa đăng nhập</a>
                              </p>
                              <p style="font-size: 16px;">Username</p>
                            </div> -->
                            <!-- 游客-end -->
                            <!-- 登录用户 -->
                            <div class="j-dialog-user row-1">
                                <p class="base-info">
                                    <a class="j-user-name nickname" href="/user/"></a>
                                    <i class="j-user-vip vip-tag icon-vip-tag"></i>
                                    <a class="j-user-logout logout">Đăng xuất</a>
                                </p>
                                <p style="font-size: 16px;">Username</p>
                            </div>
                            <!-- 登录用户-end -->
                            <div class="row-2">
                                <div class="fund-item">
                                    <div class="fund-item__icon">
                                        <i class="icon-user-yb"></i>
                                    </div>
                                    <div class="fund-item__info">
                                        Vàng<br>
                                        <span class="j-user-gold">0</span>
                                    </div>
                                </div>
                                <div class="fund-item">
                                    <div class="fund-item__icon">
                                        <i class="icon-user-yp"></i>
                                    </div>
                                    <div class="fund-item__info">
                                        Đã mua<br>
                                        <span class="j-user-ticket">0</span>
                                    </div>
                                </div>
                                <div class="fund-item">
                                    <div class="fund-item__icon">
                                        <i class="icon-user-kq"></i>
                                    </div>
                                    <div class="fund-item__info">
                                        Đang đọc<br>
                                        <span class="j-user-coupon">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

@code {
    [Parameter]
    public string Id { get; set; }

    private StoryDetailDTO storyDetail { get; set; }
    private List<ChapterslDTO> chapterLst { get; set; }
    private List<TopicslDTO> topicLst { get; set; }
    bool isShow = false;
    void handleShow()
    {
        isShow = !isShow;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (!string.IsNullOrEmpty(Id))
            {
                var storyId = Guid.Parse(Id);
                var storyDetailFull = await _storiesService.GetStoryById(storyId);
                storyDetail = storyDetailFull.DetailStory;
                chapterLst = storyDetailFull.Chapter;
                topicLst = storyDetailFull.Topic;
                StateHasChanged();
            }
        }
    }

    private void NavigateToReadChapter(Guid? chapterId = null)
    {
        if (chapterId == null && chapterLst != null && chapterLst.Count > 0)
        {
            chapterId = chapterLst.FirstOrDefault().Id;
        }

        if (chapterId != null)
        {
            NavigateToUrl($"/chapter/{chapterId}");
        }
    }
}
