@page "/"
@using StoriesProject.Model.BaseEntity;
@using StoriesProject.Services;
@using StoriesProject.Shared;
@using StoriesProject.Shared.ComponentBase;

@inject IStoriesService _storiesService;
@inject NavigationManager _navigationManager;

@inherits BaseComponentCustom

<html>
<head>
  <title>国内原创在线漫画平台_好看的漫画大全 - 漫客栈</title>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="keywords"
    content="漫画大全,漫画图片,漫画投稿,在线漫画,斗破苍穹漫画,斗罗大陆漫画,偷星九月天,穿越西元3000后,凤逆天下,风起苍岚,妃夕妍雪,BL漫画,耽美漫画,知音漫客,飒漫画,漫画下载">
  <meta name="description" content="中国领先的原创漫画平台，七年来积累了大量的签约作者和好看的漫画作品，斗破苍穹漫画、斗罗大陆漫画，更有APP和漫画下载等精彩内容等你发现，看漫画，就来漫客栈！">
  <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon">
  <link rel="Bookmark" href="https://static.mkzcdn.com/common/favicon.ico">
  <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
  <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_home.css?v=a75a636">
  <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/home.css?v=c05d384">

  <!--[if lt IE 9]>
<![endif]-->
  <link rel="stylesheet" href="https://static.mkzcdn.com/home/assets/script/libs/layer/theme/default/layer.css?v=3.1.1"
    id="layuicss-layer">
  @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>*@
  <style>
    /*# Thêm vào*/
    .in-header__nav .nav-item {
      width: auto;
      font-size: 16px;
    }

    .in-header__nav .underline {
      display: none;
      position: absolute;
      left: 7px;
      bottom: -3px;
      width: 50px;
      height: 3px;
      background: #ff620e;
      border-radius: 9px;
    }

    .button_config {
      float: left;
      width: 80px;
      height: 40px;
      font-size: 13px;
      text-align: center;
      line-height: 40px;
      color: #fff;
      border-radius: 0 20px 20px 0;
      cursor: pointer;
      background-color: #ff620e;
      font-weight: bold;
    }
  </style>
  <link rel="stylesheet"
    href="//static.mkzcdn.com/home/assets/script/libs/share/static/api/css/share_style0_16.css?v=6aba13f0.css">
</head>

<body class="p-index" data-feed="103">
  <div style="display:none;">
    <img src="https://static.mkzcdn.com/home/assets/images/common/app_logo.png">
  </div>

  <div class="in-banner clearfix">
    <div class="in-banner-slide fl">
      <div class="layui-carousel" lay-anim="" lay-indicator="inside" lay-arrow="hover"
        style="width: 100%; height: 100%;">
        <div carousel-item="">
          <div class="slide-item">
            <a href="/216009/" target="_blank"><img class="lazy"
                data-src="https://oss.mkzcdn.com/image/20210624/60d3e0252e0c3-1200x800.jpg!banner-600"
                src="https://oss.mkzcdn.com/image/20210624/60d3e0252e0c3-1200x800.jpg!banner-600" alt="太后裙下臣"
                style="display: block;"></a>
            <p class="feature">Comic on slice 1</p>
            <div class="cover__shadow" data-href="/216009/"></div>
          </div>
          <div class="slide-item layui-this">
            <a href="/215162/" target="_blank"><img class="lazy"
                data-src="https://oss.mkzcdn.com/image/20201029/5f9a18d7e2eb2-1200x800.jpg!banner-600"
                src="https://oss.mkzcdn.com/image/20201029/5f9a18d7e2eb2-1200x800.jpg!banner-600" alt="凤凰错：专宠弃妃"
                style="display: block;"></a>
            <p class="feature">Comic on slice 2</p>
            <p class="feature"></p>
            <div class="cover__shadow" data-href="/215162/"></div>
          </div>
          <div class="slide-item">
            <a href="/215394/" target="_blank"><img class="lazy"
                data-src="https://oss.mkzcdn.com/image/20201022/5f9127a50d069-1200x800.jpg!banner-600"
                src="https://oss.mkzcdn.com/image/20201022/5f9127a50d069-1200x800.jpg!banner-600" alt="将军夫人的手术刀"
                style="display: block;"></a>
            <p class="feature">Comic on slice 3</p>
            <div class="cover__shadow" data-href="/215394/"></div>
          </div>
          <div class="slide-item">
            <a href="/214350/" target="_blank"><img class="lazy"
                data-src="https://oss.mkzcdn.com/image/20201022/5f9126feb027f-1200x800.jpg!banner-600"
                src="https://oss.mkzcdn.com/image/20201022/5f9126feb027f-1200x800.jpg!banner-600" alt="乱世帅府：听说司佑良爱我很多年"
                style="display: block;"></a>
            <p class="feature">Comic on slice 4</p>
            <div class="cover__shadow" data-href="/214350/"></div>
          </div>
        </div>
        <div class="layui-carousel-ind">
          <ul>
            <li class="dot-config"></li>
            <li class="dot-config layui-this"></li>
            <li class="dot-config"></li>
            <li class="dot-config"></li>
          </ul>
        </div>
        <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
        <button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
      </div>
    </div>
    <div class="in-banner--type1 fl">
      <a href="/216730/" target="_blank">
        <img class="lazy" data-src="https://oss.mkzcdn.com/image/20240105/659758e9b3fc7-1200x400.png!banner-800"
          src="https://oss.mkzcdn.com/image/20240105/659758e9b3fc7-1200x400.png!banner-800" alt="坏情书"
          style="display: block;">
      </a>
      <p class="feature">坏情书</p>
      <div class="cover__shadow"></div>
    </div>
    <div class="in-banner--type2 fl">
      <a href="app://216711/" target="_blank">
        <img class="lazy" data-src="https://oss.mkzcdn.com/image/20231124/6560503151c61-1200x800.png!banner-600"
          src="https://oss.mkzcdn.com/image/20231124/6560503151c61-1200x800.png!banner-600" alt="阿斯忒瑞亚的诱惑"
          style="display: block;">
      </a>
      <p class="feature">阿斯忒瑞亚的诱惑</p>
      <div class="cover__shadow"></div>
    </div>
    <div class="in-banner--type2 fl">
      <a href="/214366/" target="_blank">
        <img class="lazy" data-src="https://oss.mkzcdn.com/image/20201109/5fa8a298220b0-1200x800.jpg!banner-600"
          src="https://oss.mkzcdn.com/image/20201109/5fa8a298220b0-1200x800.jpg!banner-600" alt="护花兵王在都市"
          style="display: block;">
      </a>
      <p class="feature">护花兵王在都市</p>
      <div class="cover__shadow"></div>
    </div>
    <div class="in-banner--type2 fl">
      <a href="/213841/" target="_blank">
        <img class="lazy" data-src="https://oss.mkzcdn.com/image/20201109/5fa8a2e63630a-1200x800.jpg!banner-600"
          src="https://oss.mkzcdn.com/image/20201109/5fa8a2e63630a-1200x800.jpg!banner-600" alt="龙王妃子不好当"
          style="display: block;">
      </a>
      <p class="feature">龙王妃子不好当</p>
      <div class="cover__shadow"></div>
    </div>
    <div class="in-banner--type2 fl">
      <a href="/212495/" target="_blank">
        <img class="lazy" data-src="https://oss.mkzcdn.com/image/20210621/60cfeaae2c5ae-1200x800.jpg!banner-600"
          src="https://oss.mkzcdn.com/image/20210621/60cfeaae2c5ae-1200x800.jpg!banner-600" alt="地府我开的"
          style="display: block;">
      </a>
      <p class="feature">地府我开的</p>
      <div class="cover__shadow"></div>
    </div>
    <div class="in-banner--type1 last fl">
      <a href="/214331/" target="_blank">
        <img class="lazy" data-src="https://oss.mkzcdn.com/image/20211022/61721f868d41d-1200x400.jpg!banner-800"
          src="https://oss.mkzcdn.com/image/20211022/61721f868d41d-1200x400.jpg!banner-800" alt="地府我开的"
          style="display: block;">
      </a>
      <p class="feature">绝世战魂</p>
      <div class="cover__shadow"></div>
    </div>
  </div>
  <div class="in-nav">
    <i class="icon icon-in-lx"></i>
    <ul class="clearfix fl">
      <li class="in-nav__item"><a href="/category/?theme_id=1">Tình yêu</a></li>
      <li class="in-nav__item"><a href="/category/?theme_id=12">Phiêu lưu</a></li>
      <li class="in-nav__item"><a href="/category/?theme_id=2">Hài hước</a></li>
      <li class="in-nav__item"><span>....</span></li>
    </ul>
    <i class="icon icon-in-rd"></i>
    <ul class="clearfix fl">
      <li class="in-nav__item"><a href="/category/?order=1">Hot</a></li>
      <li class="in-nav__item"><a href="/category/?order=2">Mới cập nhật</a></li>
    </ul>
    <i class="icon icon-in-ff"></i>
    <ul class="clearfix fl">
      <li class="in-nav__item"><a href="/category/?order=2&amp;is_free=1">Miễn phí</a></li>
      <!-- <li class="in-nav__item"><a href="/category/?order=1&amp;is_vip=1">VIP免费</a></li> -->
      <li class="in-nav__item"><a href="/category/?order=1&amp;is_fee=1">Trả phí</a></li>
    </ul>
    <i class="icon icon-in-jd"></i>
    <ul class="clearfix fl">
      <li class="in-nav__item"><a href="/category/?order=1&amp;finish=1">Đã hoàn thành</a></li>
      <li class="in-nav__item"><a href="/category/?order=1&amp;finish=2">Đang viết</a></li>
    </ul>
    <a class="fr" href="/category/">
      <i class="icon icon-in-class"></i>
      <span>Phân loại</span>
    </a>
  </div>
  <div class="in-sec-wr in-fine clearfix">
    <div class="in-fine__big fl">
      <div class="in-fine__cover">
        <a href="/216151/" target="_blank">
          <img class="lazy" data-src="https://oss.mkzcdn.com/image/20210913/613f033f57829-750x422.jpg!cover-600"
            src="https://oss.mkzcdn.com/image/20210913/613f033f57829-750x422.jpg!cover-600" alt="魂鼎盛天"
            style="display: inline-block;">
        </a>
        <div class="cover__tag">最终话 新的希望</div>
        <i class="icon-in-kzjp"></i>
      </div>
      <div class="in-fine__info">
        <p class="comic__title">
          <a href="/216151/" target="_blank">魂鼎盛天</a>
        </p>
        <p class="text">作者：极漫文化</p>
        <p class="text">大佬重生，拳破青天，无人能挡</p>
        <p class="text">人气：5041.71万</p>
      </div>
    </div>
    <!-- in-comic--type-a * 10 -->
    <div class="in-comic--type-a ">
      <div class="cover">
        <a href="/215720/" target="_blank">
          <img class="lazy" data-src="https://oss.mkzcdn.com/image/20210104/5ff28f5dd56ff-750x422.jpg!cover-400"
            src="https://oss.mkzcdn.com/image/20210104/5ff28f5dd56ff-750x422.jpg!cover-400" alt="无敌剑域"
            style="display: inline-block;">
        </a>
        <div class="cover__tag">第179话 偷袭</div>
        <i class="icon-in-kzjp"></i>
      </div>
      <p class="comic__title"><a href="/215720/" target="_blank">无敌剑域</a></p>
      <p class="comic__feature">剑宗杂役逆袭！直捣黄龙！</p>
    </div>
    <div class="in-comic--type-a ">
      <div class="cover">
        <a href="/214990/" target="_blank">
          <img class="lazy" data-src="https://oss.mkzcdn.com/image/20210307/6044449322622-750x422.jpg!cover-400"
            src="https://oss.mkzcdn.com/image/20210307/6044449322622-750x422.jpg!cover-400" alt="都市之逆天仙尊"
            style="display: inline-block;">
        </a>
        <div class="cover__tag">第391话 我认输！</div>
        <i class="icon-in-kzjp"></i>
      </div>
      <p class="comic__title"><a href="/214990/" target="_blank">都市之逆天仙尊</a></p>
      <p class="comic__feature">都市修仙至尊舍我其谁</p>
    </div>
    <div class="in-comic--type-a ">
      <div class="cover">
        <a href="/214615/" target="_blank">
          <img class="lazy" data-src="https://oss.mkzcdn.com/image/20210531/60b49cd3989db-750x422.jpg!cover-400"
            src="https://oss.mkzcdn.com/image/20210531/60b49cd3989db-750x422.jpg!cover-400" alt="毒医嫡女"
            style="display: inline-block;">
        </a>
        <div class="cover__tag">第399话 凶手是皇后？！</div>
        <i class="icon-in-kzjp"></i>
      </div>
      <p class="comic__title"><a href="/214615/" target="_blank">毒医嫡女</a></p>
      <p class="comic__feature">锋芒惊天下，扰乱男人心</p>
    </div>
    <div class="in-comic--type-a ">
      <div class="cover">
        <a href="/212350/" target="_blank">
          <img class="lazy" data-src="https://oss.mkzcdn.com/image/20210531/60b49d03c7913-750x422.jpg!cover-400"
            src="https://oss.mkzcdn.com/image/20210531/60b49d03c7913-750x422.jpg!cover-400" alt="万界仙踪"
            style="display: inline-block;">
        </a>
        <div class="cover__tag">第550话</div>
        <i class="icon-in-kzjp"></i>
      </div>
      <p class="comic__title"><a href="/212350/" target="_blank">万界仙踪</a></p>
      <p class="comic__feature">儿女情长？血染万界！</p>
    </div>
    <div class="in-comic--type-a ">
      <div class="cover">
        <a href="/216137/" target="_blank">
          <img class="lazy" data-src="https://oss.mkzcdn.com/image/20210706/60e4131dd054d-750x422.jpg!cover-400"
            src="https://oss.mkzcdn.com/image/20210706/60e4131dd054d-750x422.jpg!cover-400" alt="黑莲花学习手册"
            style="display: inline-block;">
        </a>
        <div class="cover__tag">第185话 警告！警告！</div>
        <i class="icon-in-kzjp"></i>
      </div>
      <p class="comic__title"><a href="/216137/" target="_blank">黑莲花学习手册</a></p>
      <p class="comic__feature">假•恶毒少女×真•复仇皇子</p>
    </div>
    <div class="in-comic--type-a ">
      <div class="cover">
        <a href="/216129/" target="_blank">
          <img class="lazy" data-src="https://oss.mkzcdn.com/image/20210713/60ed508bd775b-750x422.jpg!cover-400"
            src="https://oss.mkzcdn.com/image/20210713/60ed508bd775b-750x422.jpg!cover-400" alt="史上最强男主角"
            style="display: inline-block;">
        </a>
        <div class="cover__tag">第210话 宗主野望</div>
        <i class="icon-in-kzjp"></i>
      </div>
      <p class="comic__title"><a href="/216129/" target="_blank">史上最强男主角</a></p>
      <p class="comic__feature">暗杀不断，男主怎么活到最后一集？</p>
    </div>
    <div class="in-comic--type-a lg">
      <div class="cover">
        <a href="/215003/" target="_blank">
          <img class="lazy" data-src="https://oss.mkzcdn.com/image/20210118/600552fdb6db1-750x422.jpg!cover-400"
            src="https://oss.mkzcdn.com/image/20210118/600552fdb6db1-750x422.jpg!cover-400" alt="仙武帝尊"
            style="display: inline-block;">
        </a>
        <div class="cover__tag">第596话 与子偕老</div>
        <i class="icon-in-kzjp"></i>
      </div>
      <p class="comic__title"><a href="/215003/" target="_blank">仙武帝尊</a></p>
      <p class="comic__feature">且看我置之死地而后生</p>
    </div>
    <div class="in-comic--type-a lg">
      <div class="cover">
        <a href="/214156/" target="_blank">
          <img class="lazy" data-src="https://oss.mkzcdn.com/image/20200102/5e0dd3fd2f62f-750x422.jpg!cover-400"
            src="https://oss.mkzcdn.com/image/20200102/5e0dd3fd2f62f-750x422.jpg!cover-400" alt="上国赋之千堆雪"
            style="display: inline-block;">
        </a>
        <div class="cover__tag">网剧开播预告</div>
        <i class="icon-in-kzjp"></i>
      </div>
      <p class="comic__title"><a href="/214156/" target="_blank">上国赋之千堆雪</a></p>
      <p class="comic__feature">少女懵懂青涩的爱恋</p>
    </div>
  </div>
  <a class="in-ad" href="/215623/" target="_blank">
    <img class="lazy" data-src="https://oss.mkzcdn.com/image/20201202/5fc6f1b6ab1ee-1500x140.jpg!banner-1500"
      alt="我家陛下总想祸国" src="https://oss.mkzcdn.com/image/20201202/5fc6f1b6ab1ee-1500x140.jpg!banner-1500"
      style="display: inline-block;">
  </a>
  <div class="in-sec-wr">
    <div class="in-sec__head">
      <i class="icon icon-in-dj"></i>
      <span>Tác phẩm hot</span>
      <a class="more" href="/top/exclusive/">Xem thêm <i class="iconfont icon-ic_vip_switch_r"></i></a>
    </div>
    <div class="in-sec__box clearfix">
      <div class="tempWrap" style="overflow:hidden; position:relative; width:1506px">
        <div class="slide-wrapper"
          style="width: 2510px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
            @if (listHotStory != null && listHotStory.Count > 0)
            {
                @for (int i = 0; i < listHotStory.Count; i++)
                {
                    var item = listHotStory[i];
                    if (item != null)
                    {
                        var imgLink = $"Image/{item.ImageLink}";
                        <div class="in-comic--type-b cs-item" style="float: left; width: 245px;">
                            <div class="cover">
                                <a target="_blank" @onclick="(() => NavigateToDetails(item.Id))">
                                    <img class="lazy-carousel"
                                            data-src="@imgLink"
                                            src="@imgLink" alt="逆天邪神"
                                            style="display: inline-block;">
                                </a>
                                <div class="cover__tag">@item.Name</div>
                                <div class="cover__score">@item.RateScore</div>
                                <div class="cover__shadow"></div>
                            </div>
                            <p class="comic__title"><a href="/213295/" target="_blank">@item.Name</a></p>
                            <p class="comic__feature">@item.Description</p>
                        </div>
                    }
                }
            }
        </div>
      </div>
      <div class="prev"><i class="layui-icon layui-icon-left"></i></div>
      <div class="next"><i class="layui-icon layui-icon-right"></i></div>
    </div>
  </div>
  <div class="in-sec-wr">
    <div class="in-sec__head">
      <i class="icon icon-in-ss"></i>
      <span>Tác phẩm mới</span>
      <a class="more" href="/top/ascension/">Xem thêm <i class="iconfont icon-ic_vip_switch_r"></i></a>
    </div>
    <div class="in-sec__box clearfix">
      <div class="tempWrap" style="overflow:hidden; position:relative; width:1506px">
        <div class="slide-wrapper"
          style="width: 2510px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
            @if (listNewStory != null && listNewStory.Count > 0)
            {
                @for (int i = 0; i < listNewStory.Count; i++)
                {
                    var item = listNewStory[i];
                    if (item != null)
                    {
                        var imgLink = $"Image/{item.ImageLink}";
                        <div class="in-comic--type-b cs-item" style="float: left; width: 245px;">
                            <div class="cover">
                                <a target="_blank" @onclick="(() => NavigateToDetails(item.Id))">
                                    <img class="lazy-carousel"
                                            data-src="@imgLink"
                                            src="@imgLink" alt="皇后很忙"
                                            style="display: inline-block;">
                                </a>
                                <div class="cover__tag">@item.Name</div>
                            </div>
                            <span class="comic__rank rank--1">@(i+1)</span>
                            <p class="comic__title"><a href="/216456/" target="_blank">@item.Name</a></p>
                            <p class="comic__feature">@item.Description</p>
                        </div>
                    }
                }
            }
            
        </div>
      </div>
      <div class="prev"><i class="layui-icon layui-icon-left"></i></div>
      <div class="next"><i class="layui-icon layui-icon-right"></i></div>
    </div>
  </div>
  <div class="in-sec-wr">
    <div class="in-sec__head">
      <i class="icon icon-in-xz"></i>
      <span>Tác phẩm miễn phí</span>
      <a class="more" href="/top/latest/">Xem thêm <i class="iconfont icon-ic_vip_switch_r"></i></a>
    </div>
    <div class="in-sec__box clearfix">
      <div class="tempWrap" style="overflow:hidden; position:relative; width:1506px">
        <div class="slide-wrapper"
          style="width: 2510px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
            @if (listFreeStory != null && listFreeStory.Count > 0)
            {
                @for (int i = 0; i < listFreeStory.Count; i++)
                {
                    var item = listFreeStory[i];
                    if (item != null)
                    {
                        var imgLink = $"Image/{item.ImageLink}";
                        <div class="in-comic--type-b cs-item" style="float: left; width: 245px;">
                            <div class="cover">
                                <a target="_blank" @onclick="(() => NavigateToDetails(item.Id))">
                                    <img class="lazy-carousel"
                                            data-src="@imgLink"
                                            src="@imgLink" alt="氪金玩家"
                                            style="display: inline-block;">
                                </a>
                                <div class="cover__tag">@item.Name</div>
                            </div>
                            <p class="comic__title"><a href="/216716/" target="_blank">@item.Name</a></p>
                            <p class="comic__feature">@item.Description</p>
                        </div>
                    }
                }
            }
        </div>
      </div>
      <div class="prev"><i class="layui-icon layui-icon-left"></i></div>
      <div class="next"><i class="layui-icon layui-icon-right"></i></div>
    </div>
  </div>
  <div class="in-sec-wr">
    <div class="in-sec__head">
      <i class="icon icon-in-hz"></i>
      <span>Tác phẩm trả phí</span>
      <a class="more" href="/top/cooperation/">Xem thêm <i class="iconfont icon-ic_vip_switch_r"></i></a>
    </div>
    <div class="in-sec__box clearfix">
      <div class="tempWrap" style="overflow:hidden; position:relative; width:1506px">
        <div class="slide-wrapper"
          style="width: 2510px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
            @if (listPaidStory != null && listPaidStory.Count > 0)
            {
                @for (int i = 0; i < listPaidStory.Count; i++)
                {
                            var item = listPaidStory[i];
                    if (item != null)
                    {
                        var imgLink = $"Image/{item.ImageLink}";
                        <div class="in-comic--type-b cs-item" style="float: left; width: 245px;">
                            <div class="cover">
                                <a target="_blank" @onclick="(() => NavigateToDetails(item.Id))">
                                    <img class="lazy-carousel"
                                            data-src="@imgLink"
                                            src="@imgLink" alt="妖神记"
                                            style="display: inline-block;">
                                </a>
                                <div class="cover__tag">@item.Name</div>
                            </div>
                            <p class="comic__title"><a href="/207622/" target="_blank">@item.Name</a></p>
                            <p class="comic__feature"> @item.Description</p>
                        </div>
                    }
                }
            }
          
        </div>
      </div>
      <div class="prev"><i class="layui-icon layui-icon-left"></i></div>
      <div class="next"><i class="layui-icon layui-icon-right"></i></div>
    </div>
  </div>
  <a class="in-ad" href="/215522/" target="_blank"><img class="lazy"
      data-src="https://oss.mkzcdn.com/image/20201202/5fc6f2038a2da-1500x140.jpg!banner-1500" alt="全能至尊"
      src="https://oss.mkzcdn.com/image/20201202/5fc6f2038a2da-1500x140.jpg!banner-1500"
      style="display: inline-block;"></a>
  <!-- 最近更新 -->
  <div class="in-sec-wr recent-wr clearfix">
    <div class="in-sec-update">
      <div class="in-sec__head">
        <i class="icon icon-in-zf"></i>
        <span>Mới cập nhật</span>
        <a class="more" href="/update/">Xem thêm <i class="iconfont icon-ic_vip_switch_r"></i></a>
      </div>
      <div class="in-sec__box clearfix fl">
            @if (listNewVersionStory != null && listNewVersionStory.Count > 0)
            {
                @for (int i = 0; i < listNewVersionStory.Count; i++)
                {
                    if (i < 4)
                    {
                        var item = listNewVersionStory[i];
                        if (item != null)
                        {
                            var imgLink = $"Image/{item.ImageLink}";

                            <div class="in-comic--type-b">
                                <div class="cover">
                                    <a target="_blank" @onclick="(() => NavigateToDetails(item.Id))">
                                        <img class="lazy"
                                                data-src="@imgLink"
                                                src="@imgLink" alt="我躺着就变强">
                                    </a>
                                    <div class="cover__tag">@item.Name</div>
                                </div>
                                <p class="comic__title"><a href="/216724/" target="_blank">@item.Name</a></p>
                                <p class="comic__feature">
                                    @item.Description
                                </p>
                            </div>
                        }
                    }
                }
            }
      </div>
      <!-- 第二行 -->
      <div class="in-sec__box clearfix fl mt-20">
        @if (listNewVersionStory != null && listNewVersionStory.Count > 5)
        {
            @for (int i = 4; i < listNewVersionStory.Count; i++)
            {
                var item = listNewVersionStory[i];
                if (item != null)
                {
                    var imgLink = $"Image/{item.ImageLink}";

                    <div class="in-comic--type-b">
                        <div class="cover">
                            <a target="_blank" @onclick="(() => NavigateToDetails(item.Id))"> 
                                <img class="lazy"
                                        data-src="@imgLink"
                                        src="@imgLink" alt="我躺着就变强">
                            </a>
                            <div class="cover__tag">@item.Name</div>
                        </div>
                        <p class="comic__title"><a href="/216724/" target="_blank">@item.Name</a></p>
                        <p class="comic__feature">
                            @item.Description
                        </p>
                    </div>
                }
            }
        }
      </div>
    </div>
    <div class="in-rank-box--aside">
      <div class="in-sec__head">
        <i class="icon icon-in-ph"></i>
        <span>Phổ biến</span>
      </div>
      <div class="rank-list">
        <div class="rank-item key-1">
          <span class="num num--1">1</span>
          <span class="comic-name">
            <a href="/207622/" target="_blank">妖神记</a>
          </span>
          <i class="iconfont icon-ic_phlist_up"></i>
        </div>
      </div>
    </div>
  </div>
  <a class="in-ad" href="/213370/" target="_blank"><img class="lazy"
      data-src="https://oss.mkzcdn.com/image/20210830/612c8bf04e969-1500x140.jpg!banner-1500" alt="哦，我的宠妃大人"
      src="https://oss.mkzcdn.com/image/20210830/612c8bf04e969-1500x140.jpg!banner-1500"
      style="display: inline-block;"></a>
  <div class="in-aside-handle">
    <div class="aside__item qr-code">
      <i class="iconfont icon-ic_float_ewm"></i>
      <div class="qr-code-pic hide"></div>
    </div>
    <div class="aside__item share">
      <i class="iconfont icon-ic_float_fx"></i>
      <ul class="share-full clearfix hide bdsharebuttonbox bdshare-button-style0-16" id="bdshare" data-tag="share_1"
        data-bd-bind="1708872190331">
        <a class="aside-share__item qq" data-cmd="sqq" title="分享到QQ好友"></a>
        <a class="aside-share__item wx" data-cmd="weixin" title="分享到微信"></a>
        <a class="aside-share__item wb" data-cmd="tsina" title="分享到新浪微博"></a>
        <a class="aside-share__item kj" data-cmd="qzone" title="分享到QQ空间"></a>
      </ul>
    </div>
    <div class="aside__item feedback j-home-feed">
      <i class="iconfont icon-ic_float_fk"></i>
      <p class="feed-full hide">在线反馈</p>
    </div>
    <div class="aside__item back-top hide">
      <i class="iconfont icon-ic_float_top"></i>
      <p class="back-full hide">返回顶部</p>
    </div>
  </div>
   
  <HeaderLayout isSelected=1></HeaderLayout>

@*  <div class="in-header">
    <div class="in-header__wrap container--response">
      <a class="in-header__logo" href="/"></a>
      <div class="in-header__nav">
        <ul class="clearfix">
          <li class="nav-item active">
            <a href="/">TRANG CHỦ</a>
            <div class="underline"></div>
          </li>
          <!-- <li class="nav-item ">
            <a href="/update/">MỚI CẬP NHẬT</a>
            <div class="underline"></div>
          </li> -->
          <li class="nav-item ">
            <a href="/top/">XẾP HẠNG</a>
            <div class="underline"></div>
          </li>
          <li class="nav-item ">
            <a href="/category/">PHÂN LOẠI</a>
            <div class="underline"></div>
          </li>
          <!-- <li class="nav-item hide ">
            <a href="/category/?is_vip=1">VIP</a>
            <div class="underline"></div>
          </li>
          <li class="nav-item ">
            <a href="/free/limit/">限免</a>
            <div class="underline"></div>
          </li>
          <li class="nav-item ">
            <a href="https://www.xiaoshuohui.com.cn/">小说</a>
            <div class="underline"></div>
            <img class="new" src="//static.mkzcdn.com/home/assets/images/header/ic_nav_newxs.png?v=658642e" alt="new">
          </li> -->
        </ul>
      </div>
      <div class="in-header__search">
        <input class="input j-header-input" type="text" placeholder="Tìm truyện">
        <span class="button_config">Search</span>
        <i class="iconfont icon-ic_head_search"></i>
        <div class="in-dialog--search hide">
          <div class="search-his-wr">
            <div class="dialog-title">
              <span>历史记录</span>
              <div class="search-his__clear">
                <i class="iconfont icon-ic_head_searchnull"></i>
                <a href="javascript:;">删除</a>
              </div>
            </div>
            <div class="search-his clearfix"></div>
          </div>
          <div class="search-hot-wr">
            <p class="dialog-title">今日热搜</p>
            <div class="search-hot">


            </div>
          </div>

          <!-- 搜索关键字弹出框 -->
          <div class="keyword-box clearfix hide">


          </div>
        </div>
      </div>
      <div class="in-header__user">
        <ul class="fl clearfix">
          <li class="user-item j-user-msg">
            <a href="/user/message/" rel="nofollow">
              <i class="iconfont icon-ic_head_inform"></i>
              <span class="item-text">消息</span>
            </a>
          </li>
          <li class="user-item j-header-his">
            <a href="/user/history/" rel="nofollow">
              <i class="iconfont icon-ic_head_footprint"></i>
              <span class="item-text">Lịch sử</span>
            </a>
          </li>
          <li class="user-item j-header-coll">
            <a href="/user/collection/" rel="nofollow">
              <i class="iconfont icon-ic_head_coll"></i>
              <span class="item-text">Đánh dấu</span>
            </a>
          </li>
          <li class="user-item">
            <a href="/author/comic_add_step1/">
              <i class="iconfont icon-ic_head_tg"></i>
              <span class="item-text">Tác giả</span>
            </a>
          </li>
        </ul>
        <div class="j-header-avatar in-header__avatar fl">
                    <a @onclick="GoToUserPage">
                <img class="j-user-avatar"
              src="//static.mkzcdn.com/home/assets/images/home/pic_login_defaulthead.png?v=5b80a2f" alt="用户头像">
          </a>
          <div class="j-dialog-avatar dialog__header-avatar">
            <div class="in-dialog--avatar">
              <span class="triangle">
                <i class="iconfont icon-ic_nav_toast_sj"></i>
              </span>
              <!-- 游客 -->
              <!-- <div class="j-dialog-tourist row-1 hide">
                <p class="base-info">
                  <a class="j-user-name nickname" href="/login/">Tên user</a>
                  <i class="vip-tag icon icon-vip-tag"></i>
                  <a class="j-user-logout logout" href="/login/">Chưa đăng nhập</a>
                </p>
                <p style="font-size: 16px;">Username</p>
              </div> -->
              <!-- 游客-end -->
              <!-- 登录用户 -->
              <div class="j-dialog-user row-1">
                <p class="base-info">
                  <a class="j-user-name nickname" href="/user/"></a>
                  <i class="j-user-vip vip-tag icon-vip-tag"></i>
                  <a class="j-user-logout logout" href="javascript:;">Đăng xuất</a>
                </p>
                <p style="font-size: 16px;">Username</p>
              </div>
              <!-- 登录用户-end -->
              <div class="row-2">
                <div class="fund-item">
                  <div class="fund-item__icon">
                    <i class="icon-user-yb"></i>
                  </div>
                  <div class="fund-item__info">Vàng<br>
                    <span class="j-user-gold">0</span>
                  </div>
                </div>
                <div class="fund-item">
                  <div class="fund-item__icon">
                    <i class="icon-user-yp"></i>
                  </div>
                  <div class="fund-item__info">Đã mua<br>
                    <span class="j-user-ticket">0</span>
                  </div>
                </div>
                <div class="fund-item">
                  <div class="fund-item__icon">
                    <i class="icon-user-kq"></i>
                  </div>
                  <div class="fund-item__info">Đang đọc<br>
                    <span class="j-user-coupon">0</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>*@


  <div class="in-friends">
    <!-- <p class="friend-head">友情链接</p> -->
    <ul class="clearfix">
      <li class="friend-link"><a href=" http://www.zymk.cn/" target="_blank">漫客网</a></li>
      <li class="friend-link"><a href=" http://www.zhiyin.cn/" target="_blank">知音网</a></li>
      <li class="friend-link"><a href=" http://baike.hao123.cn/dongman/" target="_blank">动漫大全</a></li>
    <li class="friend-link"><a href="http://v.61.com/" target="_blank">淘米动画</a></li>
    <li class="friend-link"><a href="http://www.moejam.com/" target="_blank">梦域动漫</a></li>
    <li class="friend-link"><a href="http://dm.job1001.com/" target="_blank">动漫英才网</a></li>
    <li class="friend-link"><a href="http://www.actoys.net/" target="_blank">AC模玩网</a></li>
    <li class="friend-link"><a href="http://www.gamedog.cn/" target="_blank">游戏狗手游</a></li>
    <li class="friend-link"><a href="http://www.xiaohei.com/" target="_blank">美女小游戏</a></li>
    <li class="friend-link"><a href="http://www.manhuatai.com/" target="_blank">斗破苍穹漫画</a></li>
    <li class="friend-link"><a href="http://www.kanman.com/" target="_blank">看漫画</a></li>
    <li class="friend-link"><a href="http://www.iyouman.com/" target="_blank">豪门天价前妻</a></li>
    <li class="friend-link"><a href="http://www.iqiyi.com/dongman/" target="_blank">爱奇艺动漫</a></li>
    <li class="friend-link"><a href="http://www.comicyu.com/" target="_blank">漫域</a></li>
    <li class="friend-link"><a href="http://www.3wyu.com/" target="_blank">三文娱</a></li>
    <li class="friend-link"><a href="http://2t.5068.com/" target="_blank">动画片大全</a></li>
    <li class="friend-link"><a href="http://xx.5068.com" target="_blank">动漫游戏</a></li>
    <li class="friend-link"><a href="http://www.1kkk.com/" target="_blank">漫画</a></li>
    <li class="friend-link"><a href="http://dm5.com/" target="_blank">日本漫画</a></li>
    <li class="friend-link"><a href="http://www.oicq88.com/" target="_blank">QQ网名</a></li>
    <li class="friend-link"><a href="https://www.96mh.com/" target="_blank">96漫画网</a></li>
    <li class="friend-link"><a href="http://www.4j4j.cn/" target="_blank">四季壁纸图片</a></li>
    <li class="friend-link"><a href="http://comic.sina.com.cn/" target="_blank">新浪动漫</a></li>

    </ul>
  </div>

@*  <script>
  $(document).ready(function ()
  {
    var currentSlide = 0;
    var totalSlides = $('.slide-item').length;
    var totalDot = $('.dot-config').length;
    $('.layui-carousel-arrow[lay-type="sub"]').click(function ()
    {
      currentSlide--;
      if (currentSlide < 0)
      {
        currentSlide = totalSlides - 1;
      }
      $('.slide-item').removeClass('layui-this');
      $('.dot-config').removeClass('layui-this');

      $('.slide-item').eq(currentSlide).addClass('layui-this');
      $('.dot-config').eq(currentSlide).addClass('layui-this');
    });

    $('.layui-carousel-arrow[lay-type="add"]').click(function ()
    {
      currentSlide++;
      if (currentSlide >= totalSlides)
      {
        currentSlide = 0;
      }
      $('.slide-item').removeClass('layui-this');
      $('.dot-config').removeClass('layui-this');

      $('.slide-item').eq(currentSlide).addClass('layui-this');
      $('.dot-config').eq(currentSlide).addClass('layui-this');

    });
  });

  $(document).ready(function ()
  {
    var currentSlide = 0;
    var totalSlides = $('.slide-item').length;

    function nextSlide()
    {
      currentSlide++;
      if (currentSlide >= totalSlides)
      {
        currentSlide = 0;
      }
      $('.slide-item').removeClass('layui-this');
      $('.slide-item').eq(currentSlide).addClass('layui-this');
      $('.dot-config').removeClass('layui-this');
      $('.dot-config').eq(currentSlide).addClass('layui-this');
    }

    $('.layui-carousel-arrow[lay-type="sub"]').click(function ()
    {
      currentSlide--;
      if (currentSlide < 0)
      {
        currentSlide = totalSlides - 1;
      }
      $('.slide-item').removeClass('layui-this');
      $('.slide-item').eq(currentSlide).addClass('layui-this');
      $('.dot-config').removeClass('layui-this');
      $('.dot-config').eq(currentSlide).addClass('layui-this');
    });

    $('.layui-carousel-arrow[lay-type="add"]').click(function ()
    {
      nextSlide();
    });

    setInterval(nextSlide, 3000); // Change slide every 5 seconds
  });


  $(document).ready(function ()
  {
    var defaultItems = 6;
    var moveItems = 1;
    // Kích thước của mỗi mục
    var itemWidth = $('.cs-item').outerWidth(true);
    var totalItems = $('.cs-item').length;
    // Số lượng mục còn lại
    var remainingItems = totalItems - defaultItems;
    // Thiết lập chiều rộng cho .slide-wrapper
    $('.slide-wrapper').css('width', itemWidth * totalItems + 'px');

    // Xử lý khi nhấn nút prev
    $('.prev').click(function ()
    {
      var currentPosition = parseInt($('.slide-wrapper').css('left'));
      if (currentPosition < 0)
      {
        $('.slide-wrapper').animate({ left: '+=' + (itemWidth * moveItems) + 'px' }, 'slow');
      }
    });

    // Xử lý khi nhấn nút next
    $('.next').click(function ()
    {
      var currentPosition = parseInt($('.slide-wrapper').css('left'));
      if (Math.abs(currentPosition) < (itemWidth * remainingItems))
      {
        $('.slide-wrapper').animate({ left: '-=' + (itemWidth * moveItems) + 'px' }, 'slow');
      }
    });
  });

  $(document).ready(function ()
  {
    $('.j-header-avatar').mouseenter(function ()
    {
      $('.j-dialog-avatar').css('display', 'block'); // Hiển thị phần tử khi hover vào .j-header-avatar
    });

    $('.j-header-avatar').mouseleave(function ()
    {
      $('.j-dialog-avatar').css('display', 'none'); // Ẩn phần tử khi di chuột ra khỏi .j-header-avatar
    });
  });
</script>*@
</body>


</html>

@code {
    private List<StoryGeneric> listNewStory { get; set; }
    private List<StoryGeneric> listHotStory { get; set; }
    private List<StoryGeneric> listFreeStory { get; set; }
    private List<StoryGeneric> listPaidStory { get; set; }
    private List<StoryGeneric> listNewVersionStory { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //TODO: ntthe cái náy sẽ xử lý lại chỉ request 1 lần, và cache lại, request này sập server
        listNewStory = await _storiesService.GetTop10NewStory();
        listHotStory = await _storiesService.GetTop10HotStory();
        listFreeStory = await _storiesService.GetTop10FreeStory();
        listPaidStory = await _storiesService.GetTop10PaidStory();
        listNewVersionStory = await _storiesService.GetTop10NewVervionStory();
    }

    private void NavigateToDetails(Guid detailId)
    {
        _navigationManager.NavigateTo($"/details/{detailId}");
    }
}
