@page "/"
@using StoriesProject.Model.BaseEntity;
@using StoriesProject.Services;
@using StoriesProject.Shared.ComponentBase;
@inject ITopicService _topicService;
@inject IStoriesService _storiesService;
@inherits BaseComponentCustom

<html>
<head>
    <title>国内原创在线漫画平台_好看的漫画大全 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords"
          content="漫画大全,漫画图片,漫画投稿,在线漫画,斗破苍穹漫画,斗罗大陆漫画,偷星九月天,穿越西元3000后,凤逆天下,风起苍岚,妃夕妍雪,BL漫画,耽美漫画,知音漫客,飒漫画,漫画下载">
    <meta name="description" content="中国领先的原创漫画平台，七年来积累了大量的签约作者和好看的漫画作品，斗破苍穹漫画、斗罗大陆漫画，更有APP和漫画下载等精彩内容等你发现，看漫画，就来漫客栈！">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon">
    <link rel="Bookmark" href="https://static.mkzcdn.com/common/favicon.ico">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_home.css?v=a75a636">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/bundle/home.css?v=c05d384">

    <!--[if lt IE 9]>
    <![endif]-->
    <link rel="stylesheet" href="https://static.mkzcdn.com/home/assets/script/libs/layer/theme/default/layer.css?v=3.1.1"
          id="layuicss-layer">
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>*@
    <style>
        /*# Thêm vào*/
        .in-header__nav .nav-item {
            width: auto;
            font-size: 16px;
        }

        .in-header__nav .underline {
            display: none;
            position: absolute;
            left: 7px;
            bottom: -3px;
            width: 50px;
            height: 3px;
            background: #ff620e;
            border-radius: 9px;
        }

        .button_config {
            float: left;
            width: 80px;
            height: 40px;
            font-size: 13px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
            background-color: #ff620e;
            font-weight: bold;
        }
    </style>
    <link rel="stylesheet"
          href="//static.mkzcdn.com/home/assets/script/libs/share/static/api/css/share_style0_16.css?v=6aba13f0.css">
</head>

<body class="p-index" data-feed="103">
    <div style="display:none;">
        <img src="https://static.mkzcdn.com/home/assets/images/common/app_logo.png">
    </div>

    <div class="in-banner clearfix">
        <div class="in-banner-slide fl">
            <div class="layui-carousel" lay-anim="" lay-indicator="inside" lay-arrow="hover"
                 style="width: 100%; height: 100%;">
                <div carousel-item="">
                    @if (listPurchasesStory != null && listPurchasesStory.Count > 0)
                    {
                        @for (int i = 0; i < listPurchasesStory.Count; i++)
                        {
                            var currentItem = listPurchasesStory[i];
                            if (i < 4)
                            {
                                <div class="slide-item @(i == 0? "layui-this":"")" @onclick="(() => NavigateToDetails(currentItem.Id))">
                                    <a>
                                        <img class="lazy"
                                             src="@currentItem.ImageLink"
                                             style="display: block;">
                                    </a>
                                    <p class="feature">@currentItem.Name</p>
                                    <div class="cover__shadow" data-href="/216009/"></div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="layui-carousel-ind">
                    <ul>
                        <li class="dot-config"></li>
                        <li class="dot-config layui-this"></li>
                        <li class="dot-config"></li>
                        <li class="dot-config"></li>
                    </ul>
                </div>
                <button class="layui-icon layui-carousel-arrow" lay-type="sub"></button>
                <button class="layui-icon layui-carousel-arrow" lay-type="add"></button>
            </div>
        </div>
        @if (listPurchasesStory != null && listPurchasesStory.Count > 0 && listPurchasesStory.Count > 4)
        {
            @for (int i = 4; i < listPurchasesStory.Count; i++)
            {
                var currentItem = listPurchasesStory[i];
                if (i == 4 || i == 9)
                {
                    <div class="in-banner--type1 fl" @onclick="(() => NavigateToDetails(currentItem.Id))">
                        <a>
                            <img class="lazy"
                                 src="@currentItem.ImageLink"
                                 style="display: block;">
                        </a>
                        <p class="feature">@currentItem.Name</p>
                        <div class="cover__shadow"></div>
                    </div>
                }
                else{
                    <div class="in-banner--type2 fl" @onclick="(() => NavigateToDetails(currentItem.Id))">
                        <a>
                            <img class="lazy"
                                 src="@currentItem.ImageLink"
                                 style="display: block;">
                        </a>
                        <p class="feature">@currentItem.Name</p>
                        <div class="cover__shadow"></div>
                    </div>
                }
            }
        }
    </div>
    <div class="in-nav">
        <i class="icon icon-in-lx"></i>
        <ul class="clearfix fl">
        @if (listTopic != null && listTopic.Count() > 0)
        {
            @for (int i = 0; i < listTopic.Count; i++)
            {
                var currentItem = listTopic[i];
                if (i < 10)
                {
                    <li class="in-nav__item" @onclick="NavigateToTopic"><a >@currentItem.Name</a></li>
                }
                else
                {
                    <li class="in-nav__item" @onclick="NavigateToTopic"><span>....</span></li>
                    break;
                }
                    
            }
        }
        </ul>
    </div>
    <div class="in-sec-wr in-fine clearfix">
        @if (listPurchasesStoryByTopic != null && listPurchasesStoryByTopic.Count > 0)
        {
            var firstItem = listPurchasesStoryByTopic[0];
            <div class="in-fine__big fl">
                <div class="in-fine__cover" @onclick="(() => NavigateToDetails(firstItem.Id))">
                    <a>
                        <img class="lazy"
                             src="@firstItem.ImageLink"
                             style="display: inline-block;">
                    </a>
                    <div class="cover__tag">@firstItem.Name</div>
                    <i class="icon-in-kzjp"></i>
                </div>
                <div class="in-fine__info">
                    <p class="comic__title">
                        <a>@firstItem.Name</a>
                    </p>
                    <p class="text">@firstItem.ShortDescription</p>
                </div>
            </div>
        }
        
        @if (listPurchasesStoryByTopic != null && listPurchasesStoryByTopic.Count > 1)
        {
            @for (int i = 1; i < listPurchasesStoryByTopic.Count; i++)
            {
                var currentItem = listPurchasesStoryByTopic[i];
                <div class="in-comic--type-a " @onclick="(() => NavigateToDetails(currentItem.Id))">
                    <div class="cover">
                        <a >
                            <img class="lazy"
                                 src="@currentItem.ImageLink" alt="无敌剑域"
                                 style="display: inline-block;">
                        </a>
                        <div class="cover__tag">@currentItem.Name</div>
                        <i class="icon-in-kzjp"></i>
                    </div>
                    <p class="comic__title"><a >@currentItem.Name</a></p>
                    <p class="comic__feature">@currentItem.ShortDescription</p>
                </div>
            }
        }
    </div>
    <div class="in-sec-wr">
        <div class="in-sec__head">
            <i class="icon icon-in-dj"></i>
            <span>Tác phẩm hot</span>
            <a class="more" href="/top/exclusive/">Xem thêm <i class="iconfont icon-ic_vip_switch_r"></i></a>
        </div>
        <div class="in-sec__box clearfix">
            <div class="tempWrap" style="overflow:hidden; position:relative; width:1506px">
                <div class="slide-wrapper"
                     style="width: 2510px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                    @if (listHotStory != null && listHotStory.Count > 0)
                    {
                        @for (int i = 0; i < listHotStory.Count; i++)
                        {
                            var item = listHotStory[i];
                            if (item != null)
                            {
                                var imgLink = $"Image/{item.ImageLink}";
                                <div class="in-comic--type-b cs-item" style="float: left; width: 245px;">
                                    <div class="cover">
                                        <a @onclick="(() => NavigateToDetails(item.Id))">
                                            <img class="lazy-carousel"
                                                 data-src="@imgLink"
                                                 src="@imgLink" alt="逆天邪神"
                                                 style="display: inline-block;">
                                        </a>
                                        <div class="cover__tag">@item.Name</div>
                                        <div class="cover__score">@item.RateScore</div>
                                        <div class="cover__shadow"></div>
                                    </div>
                                    <p class="comic__title"><a >@item.Name</a></p>
                                    <p class="comic__feature">@item.Description</p>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="prev"><i class="layui-icon layui-icon-left"></i></div>
            <div class="next"><i class="layui-icon layui-icon-right"></i></div>
        </div>
    </div>
    <div class="in-sec-wr">
        <div class="in-sec__head">
            <i class="icon icon-in-ss"></i>
            <span>Tác phẩm mới</span>
            <a class="more" href="/top/ascension/">Xem thêm <i class="iconfont icon-ic_vip_switch_r"></i></a>
        </div>
        <div class="in-sec__box clearfix">
            <div class="tempWrap" style="overflow:hidden; position:relative; width:1506px">
                <div class="slide-wrapper"
                     style="width: 2510px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                    @if (listNewStory != null && listNewStory.Count > 0)
                    {
                        @for (int i = 0; i < listNewStory.Count; i++)
                        {
                            var item = listNewStory[i];
                            if (item != null)
                            {
                                var imgLink = $"Image/{item.ImageLink}";
                                <div class="in-comic--type-b cs-item" style="float: left; width: 245px;" @onclick="(() => NavigateToDetails(item.Id))">
                                    <div class="cover">
                                        <a>
                                            <img class="lazy-carousel"
                                                 data-src="@imgLink"
                                                 src="@imgLink" alt="皇后很忙"
                                                 style="display: inline-block;">
                                        </a>
                                        <div class="cover__tag">@item.Name</div>
                                    </div>
                                    <span class="comic__rank rank--1">@(i + 1)</span>
                                    <p class="comic__title"><a>@item.Name</a></p>
                                    <p class="comic__feature">@item.Description</p>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
            <div class="prev"><i class="layui-icon layui-icon-left"></i></div>
            <div class="next"><i class="layui-icon layui-icon-right"></i></div>
        </div>
    </div>
    <div class="in-sec-wr">
        <div class="in-sec__head">
            <i class="icon icon-in-xz"></i>
            <span>Tác phẩm miễn phí</span>
            <a class="more" href="/top/latest/">Xem thêm <i class="iconfont icon-ic_vip_switch_r"></i></a>
        </div>
        <div class="in-sec__box clearfix">
            <div class="tempWrap" style="overflow:hidden; position:relative; width:1506px">
                <div class="slide-wrapper"
                     style="width: 2510px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                    @if (listFreeStory != null && listFreeStory.Count > 0)
                    {
                        @for (int i = 0; i < listFreeStory.Count; i++)
                        {
                            var item = listFreeStory[i];
                            if (item != null)
                            {
                                var imgLink = $"Image/{item.ImageLink}";
                                <div class="in-comic--type-b cs-item" style="float: left; width: 245px;" @onclick="(() => NavigateToDetails(item.Id))">
                                    <div class="cover">
                                        <a>
                                            <img class="lazy-carousel"
                                                 data-src="@imgLink"
                                                 src="@imgLink" alt="氪金玩家"
                                                 style="display: inline-block;">
                                        </a>
                                        <div class="cover__tag">@item.Name</div>
                                    </div>
                                    <p class="comic__title"><a>@item.Name</a></p>
                                    <p class="comic__feature">@item.Description</p>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="prev"><i class="layui-icon layui-icon-left"></i></div>
            <div class="next"><i class="layui-icon layui-icon-right"></i></div>
        </div>
    </div>
    <div class="in-sec-wr">
        <div class="in-sec__head">
            <i class="icon icon-in-hz"></i>
            <span>Tác phẩm trả phí</span>
            <a class="more" href="/top/cooperation/">Xem thêm <i class="iconfont icon-ic_vip_switch_r"></i></a>
        </div>
        <div class="in-sec__box clearfix">
            <div class="tempWrap" style="overflow:hidden; position:relative; width:1506px">
                <div class="slide-wrapper"
                     style="width: 2510px; left: 0px; position: relative; overflow: hidden; padding: 0px; margin: 0px;">
                    @if (listPaidStory != null && listPaidStory.Count > 0)
                    {
                        @for (int i = 0; i < listPaidStory.Count; i++)
                        {
                            var item = listPaidStory[i];
                            if (item != null)
                            {
                                var imgLink = $"Image/{item.ImageLink}";
                                <div class="in-comic--type-b cs-item" style="float: left; width: 245px;" @onclick="(() => NavigateToDetails(item.Id))">
                                    <div class="cover">
                                        <a>
                                            <img class="lazy-carousel"
                                                 data-src="@imgLink"
                                                 src="@imgLink" alt="妖神记"
                                                 style="display: inline-block;">
                                        </a>
                                        <div class="cover__tag">@item.Name</div>
                                    </div>
                                    <p class="comic__title"><a>@item.Name</a></p>
                                    <p class="comic__feature"> @item.Description</p>
                                </div>
                            }
                        }
                    }

                </div>
            </div>
            <div class="prev"><i class="layui-icon layui-icon-left"></i></div>
            <div class="next"><i class="layui-icon layui-icon-right"></i></div>
        </div>
    </div>
    <HeaderLayout isSelected=1></HeaderLayout>
</body>
</html>

@code {
    private List<StoryAccountGeneric> listPurchasesStory { get; set; }
    private List<StoryAccountGeneric> listPurchasesStoryByTopic { get; set; }
    private List<StoryAccountGeneric> listNewStory { get; set; }
    private List<StoryGeneric> listHotStory { get; set; }
    private List<StoryAccountGeneric> listFreeStory { get; set; }
    private List<StoryAccountGeneric> listPaidStory { get; set; }
    private List<StoryAccountGeneric> listNewVersionStory { get; set; }
    private List<TopicGeneric> listTopic { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //TODO: ntthe cái náy sẽ xử lý lại chỉ request 1 lần, và cache lại, request này sập server
        var taskPurchasesStory = _storiesService.GetTopPurchasesStory(10);

        var taskNewStory = _storiesService.GetTop10NewStory();
        var taskHotStory = _storiesService.GetTop10HotStory();
        var taskFreeStory = _storiesService.GetTop10FreeStory();
        var taskPaidStory = _storiesService.GetTop10PaidStory();
        var taskNewVersionStory = _storiesService.GetTop10NewVersionStory();
        var taskListTopic = _topicService.GetAllTopicSortByStory();

        // ntthe tạm thời không tách nữa mà vẫn cho gọi tới server nhưng không đợi nhau
        await Task.WhenAll(taskPurchasesStory,  taskNewStory, taskHotStory, taskFreeStory, taskPaidStory, taskNewVersionStory, taskListTopic);

        listPurchasesStory = await taskPurchasesStory;
        listNewStory = await taskNewStory;
        listHotStory = await taskHotStory;
        listFreeStory = await taskFreeStory;
        listPaidStory = await taskPaidStory;
        listNewVersionStory = await taskNewVersionStory;
        listTopic = await taskListTopic;

        Guid? firstTopic = null;
        if (listTopic != null && listTopic.FirstOrDefault() != null)
        {
            firstTopic = listTopic.FirstOrDefault().Id;
        }
        listPurchasesStoryByTopic = await _storiesService.GetTopPurchasesStory(9, firstTopic);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await InvokeVoidAsync("initializeCarousel");
            await InvokeVoidAsync("handleAvatarHover");
            await InvokeVoidAsync("initializeSlide");
        }
    }

    private void NavigateToDetails(Guid detailId)
    {
        NavigateToUrl($"/details/{detailId}");
    }

    private void NavigateToTopic()
    {
        NavigateToUrl($"/Category");
    }
}
