@page "/Newupdate"
@using StoriesProject.Model.BaseEntity;
@using StoriesProject.Services;
@inject ITopicService _topicService;
@inject IStoriesService _storiesService;
<html>

<head>
    <title> 少年_ 漫画检索 - 漫客栈</title>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="keywords" content="漫画大全,好看的漫画,漫画图片,在线漫画,斗破苍穹漫画,斗罗大陆漫画,2018好看的漫画">
    <meta name="description" content="漫客栈漫画大全，倾心为您推荐2018最好看的漫画，看漫画，就来漫客栈！">
    <link rel="shortcut icon" href="https://static.mkzcdn.com/common/favicon.ico" type="image/x-icon">
    <link rel="Bookmark" href="https://static.mkzcdn.com/common/favicon.ico">

    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/script/libs/layui/css/layui.css?v=0b3cd68">
    <link rel="stylesheet" href="//static.mkzcdn.com/home/assets/style/common/common_home.css?v=a75a636">

    <link rel="stylesheet" href="/Static/home/assets/style/bundle/home.css?v=7d38053">

    <!-- start Dplus -->
    <!-- end Dplus -->
    <!--[if lt IE 9]>
    <script src="//static.mkzcdn.com/home/assets/script/libs/respond/respond.js?v=afc1984"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://static.mkzcdn.com/home/assets/script/libs/layer/theme/default/layer.css?v=3.1.1"
          id="layuicss-layer">
    <link rel="stylesheet"
          href="//static.mkzcdn.com/home/assets/script/libs/share/static/api/css/share_style0_16.css?v=6aba13f0.css">
    <style>
        .cate-top-wr {
            float: left;
            width: 100%;
            background: #f8f8f8;
        }

        .cate-selector {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 20px 20px 3px 20px;
            margin: 30px auto;
            font-size: 13px;
            line-height: 22px;
            background: #fff;
            border-top: 2px solid #ff620e;
            box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
        }

        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .cate-selector .cate-title {
            padding-bottom: 18px;
        }

        .cate-selector .cate-item.active {
            background: #ff620e;
        }

        .cate-selector .cate-item {
            float: left;
            padding: 0 10px;
            margin-left: 10px;
            margin-bottom: 8px;
            border-radius: 11px;
            color: #666;
            cursor: pointer;
        }

            .cate-selector .cate-item.active a {
                color: #fff;
            }

        a {
            text-decoration: none;
            color: inherit;
        }

        .cate-container {
            padding-top: 15px;
            margin: 0 auto;
            clear: both;
        }

        .cate-container__title {
            width: 100%;
            height: 26px;
            font-size: 14px;
            line-height: 26px;
            color: #666;
        }

            .cate-container__title .btn {
                float: left;
                margin-right: 30px;
                cursor: pointer;
            }

                .cate-container__title .btn.active {
                    color: #ff620e;
                    border-bottom: 2px px solid #ff620e;
                }

                .cate-container__title .btn.active {
                    color: #ff620e;
                    border-bottom: 2px solid #ff620e;
                }

        .fr {
            float: right;
        }

        .hl {
            color: #ff620e;
        }

        .cate-comic-list {
            margin-top: 30px;
        }

        .common-comic-item {
            float: left;
            margin-bottom: 30px;
            font-size: 12px;
            line-height: 18px;
            color: #999;
        }


            .common-comic-item .cover {
                position: relative;
                display: block;
                width: 100%;
                margin-bottom: 5px;
            }

        .cover > img {
            width: 100%;
            height: 100%;
        }

        img {
            max-width: 100%;
            border: none;
            overflow-clip-margin: content-box;
            overflow: clip;
        }

        .common-comic-item .comic-feature {
            position: absolute;
            bottom: 8px;
            left: 0;
            right: 0;
            padding: 0 8px;
            font-size: 14px;
            line-height: 22px;
            color: #fff;
            z-index: 999;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .cover__shadow {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 40px;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(13%, rgba(0, 0, 0, 0.05)), color-stop(80%, rgba(0, 0, 0, 0.66)), to(rgba(0, 0, 0, 0.75)));
            background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 13%, rgba(0, 0, 0, 0.66) 80%, rgba(0, 0, 0, 0.75) 100%);
            background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 13%, rgba(0, 0, 0, 0.66) 80%, rgba(0, 0, 0, 0.75) 100%);
            opacity: 0.83;
            z-index: 666;
        }

        .comic__title {
            max-width: 100%;
            font-size: 15px;
            line-height: 26px;
            font-weight: 600;
            color: #28292d;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .common-comic-item .comic-update {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .in-header {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            width: 100%;
            background: #fff;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        }

        .in-header__logo {
            float: left;
            width: 106px;
            height: 44px;
            margin-top: 8px;
            background: url(//static.mkzcdn.com/home/assets/images/header/pic_nav_logo.png?v=0504b75) no-repeat center center;
        }

        .in-header__nav {
            float: left;
            height: 30px;
            margin-top: 17px;
            line-height: 27px;
            font-size: 18px;
        }


        .in-header__nav {
            float: left;
            height: 30px;
            margin-top: 17px;
            line-height: 27px;
            font-size: 18px;
        }

        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }


        .in-header__nav .nav-item {
            width: auto;
            font-size: 16px;
            position: relative;
            float: left;
            text-align: center;
        }

        .in-header__nav .active a {
            color: #ff620e;
        }

        .in-header__nav .active .underline {
            display: block;
            position: absolute;
            left: 7px;
            bottom: -3px;
            width: 50px;
            height: 3px;
            background: #ff620e;
            border-radius: 9px;
        }

        .in-header__search {
            position: relative;
            float: left;
            height: 40px;
            margin-top: 12px;
            margin-bottom: 12px;
        }

            .in-header__search .input {
                float: left;
                height: 38px;
                font-size: 14px;
                text-indent: 36px;
                border: 1px solid #ff620e;
                border-radius: 20px 0 0 20px;
                border-right-width: 0;
            }

        .button_config {
            float: left;
            width: 80px;
            height: 40px;
            font-size: 13px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
            background-color: #ff620e;
            font-weight: bold;
        }

        .in-header__search > .iconfont {
            position: absolute;
            left: 10px;
            top: 0;
            line-height: 38px;
            font-size: 16px;
            color: #ff620e;
        }

        .in-dialog--search {
            position: absolute;
            top: 40px;
            left: 50%;
            width: 360px;
            margin-left: -180px;
            background: #fff;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
            z-index: 9999;
        }

        .in-header__user {
            float: right;
            height: 64px;
        }

        .fl {
            float: left;
        }

        .in-header__user .user-item {
            position: relative;
            float: left;
            text-align: center;
            color: #999;
            padding-bottom: 8px;
        }

        .in-header__avatar {
            width: 40px;
            height: 40px;
            margin-top: 12px;
            position: relative;
            padding-bottom: 12px;
        }

        .fl {
            float: left;
        }

        .in-header__nav .nav-item {
            width: auto;
            font-size: 16px;
        }

        .in-header__nav .underline {
            display: none;
            position: absolute;
            left: 7px;
            bottom: -3px;
            width: 50px;
            height: 3px;
            background: #ff620e;
            border-radius: 9px;
        }

        .button_config {
            float: left;
            width: 80px;
            height: 40px;
            font-size: 13px;
            text-align: center;
            line-height: 40px;
            color: #fff;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
            background-color: #ff620e;
            font-weight: bold;
        }
    </style>
</head>

<body class="p-category" data-feed="" data-new-gr-c-s-check-loaded="14.1157.0" data-gr-ext-installed="">
    <div style="display:none;">
        <img src="https://static.mkzcdn.com/home/assets/images/common/app_logo.png">
    </div>

    <div class="cate-top-wr">
        <div class="cate-selector">
            <div class="cate-col clearfix">
                <p class="fl cate-title">Chủ đề：</p>

                <ul class="cate-list clearfix">
                    @if (listTopic != null && listTopic.Count() > 0)
                    {
                        @for (int i = 0; i < listTopic.Count; i++)
                        {
                            var item = listTopic[i];
                            int currentIndex = i + 1; // Tạo một biến cục bộ chứa giá trị hiện tại của i
                            <li class="cate-item @(i == activeIndex ? "active" : "")">
                                <a rel="nofollow" href="/category/?audience=@i" @onclick="() => ChangeTopic(currentIndex, item.Id)">@item.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            @* <div class="cate-col clearfix">
            <p class="fl cate-title">Độc giả：</p>
            <ul class="cate-list clearfix">
            <li class="cate-item ">
            <a rel="nofollow" href="/category/"></a>
            </li>
            <li class="cate-item active">
            <a rel="nofollow" href="/category/?audience=1">Nam</a>
            </li>
            <li class="cate-item ">
            <a rel="nofollow" href="/category/?audience=2">Nữ</a>
            </li>
            <li class="cate-item ">
            <a rel="nofollow" href="/category/?audience=3">Vị thành niên</a>
            </li>
            <li class="cate-item ">
            <a rel="nofollow" href="/category/?audience=4">Thiếu nhi</a>
            </li>
            </ul>
            </div> *@
        </div>
    </div>
    <div class="cate-container">
        <div class="cate-container__title clearfix">
            <a class="btn btn--hot active" rel="nofollow" href="/category/?audience=1&amp;order=1">
                Phổ biến
            </a>
            @*      <a class="btn btn--time " rel="nofollow" href="/category/?audience=1&amp;order=2">更新时间
            </a>*@
            <p class="fr">Tổng <span class="hl">@(listStoryByTopic != null ? listStoryByTopic.Count() : 0)</span> Tác phẩm</p>
        </div>
        <div class="cate-comic-list clearfix">

            @if (listStoryByTopic != null && listStoryByTopic.Count > 0)
            {
                @foreach (var item in listStoryByTopic)
                {
                    <div class="common-comic-item">
                        <a class="cover" href="/207622/" target="_blank">
                            <img class="lazy" data-src="@item.ImageLink"
                                 src="@item.ImageLink"
                                 style="display: inline-block;">
                            @* <p class="comic-feature">@item.Description</p> *@
                            <div class="cover__shadow"></div>
                        </a>
                        <p class="comic__title"><a href="/207622/" target="_blank">@item.Name</a></p>
                        <p class="comic-update">更至：<a class="hl" href="/207622/1036351.html" target="_blank">@item.Description</a></p>
                        @* <p class="comic-count">人气：50.46亿</p> *@
                    </div>
                }
            }

        </div>
        @*  <div id="Pagination">
        <div> <span class="current">1</span><a class="num" href="/category/?audience=1&amp;page=2" rel="nofollow">2</a><a
        class="num" href="/category/?audience=1&amp;page=3" rel="nofollow">3</a><a class="num"
        href="/category/?audience=1&amp;page=4" rel="nofollow">4</a><a class="num"
        href="/category/?audience=1&amp;page=5" rel="nofollow">5</a><a class="num"
        href="/category/?audience=1&amp;page=6" rel="nofollow">6</a><a class="num"
        href="/category/?audience=1&amp;page=7" rel="nofollow">7</a><a class="num"
        href="/category/?audience=1&amp;page=8" rel="nofollow">8</a><a class="num"
        href="/category/?audience=1&amp;page=9" rel="nofollow">9</a><a class="num"
        href="/category/?audience=1&amp;page=10" rel="nofollow">10</a><a class="num"
        href="/category/?audience=1&amp;page=11" rel="nofollow">11</a> <a>...</a><a class="end"
        href="/category/?audience=1&amp;page=27" rel="nofollow">27</a> <a class="next"
        href="/category/?audience=1&amp;page=2" rel="nofollow">Next</a></div>
        </div> *@
    </div>

    <div class="in-aside-handle">
        <div class="aside__item qr-code">
            <i class="iconfont icon-ic_float_ewm"></i>
            <div class="qr-code-pic hide"></div>
        </div>
        <div class="aside__item share">
            <i class="iconfont icon-ic_float_fx"></i>
            <ul class="share-full clearfix hide bdsharebuttonbox bdshare-button-style0-16" id="bdshare" data-tag="share_1"
                data-bd-bind="1709450036805">
                <a class="aside-share__item qq" data-cmd="sqq" title="分享到QQ好友"></a>
                <a class="aside-share__item wx" data-cmd="weixin" title="分享到微信"></a>
                <a class="aside-share__item wb" data-cmd="tsina" title="分享到新浪微博"></a>
                <a class="aside-share__item kj" data-cmd="qzone" title="分享到QQ空间"></a>
            </ul>
        </div>
        <div class="aside__item feedback j-home-feed">
            <i class="iconfont icon-ic_float_fk"></i>
            <p class="feed-full hide">在线反馈</p>
        </div>
        <div class="aside__item back-top hide">
            <i class="iconfont icon-ic_float_top"></i>
            <p class="back-full hide">返回顶部</p>
        </div>
    </div>
    <HeaderLayout isSelected=3></HeaderLayout>
</body>
</html>
@code {
    int activeIndex = -1;
    private List<Topic> listTopic { get; set; }
    private List<StoryAccountGeneric> listStoryByTopic { get; set; }
    protected override async Task OnInitializedAsync()
    {
        SetActiveIndex(0);
        listTopic = await _topicService.GetAllTopic();
        if (listTopic != null && listTopic.Count() > 0)
        {
            var firstTopicId = listTopic[0].Id;
            listStoryByTopic = await _storiesService.GetAllStoryByTopic(firstTopicId);
        }
    }
    private void SetActiveIndex(int index)
    {
        activeIndex = index;
    }

    private async Task ChangeTopic(int index, Guid topicId)
    {
        SetActiveIndex(index);
        listStoryByTopic = await _storiesService.GetAllStoryByTopic(topicId);
        StateHasChanged();
    }


}